

.contador{
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content:center ;
  align-items: center;
  justify-content: center;
}

button{
  background-color: orangered;
}