
.menu{
  background-color: #434354;
  border-bottom: none ;
  border: 5px  groove #BEBEC1 !important;
  margin-left: inherit !important;
}

a{
  color: #FF4000 !important;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  background-color: #434354;
  justify-content: center;
}

a.nav-link:hover{
  background-color: grey;
}

.logo{
  background-color: #434354;
  width: 61px;
  height: 61px;
  position: absolute;
  display: flex;
  margin: 0px;
  margin-left: 100px;

  border: none;
}

.shop{
  background-color: #434354;
  justify-content: right;
  align-items: flex-end;
  width: 69px;
  height: 61px;
  margin: 0px;
  border: none;
  margin-top: -61px;
}

