ul{
  
  border-bottom: none ;
  border: 5px  groove aliceblue !important;
}

a{
  color: #FF6600 !important;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
}

a.nav-link:hover{
  background-color: grey;
}

.logo{
  width: 61px;
  height: 61px;
  position: absolute;
  /* margin: 0px; */
  display: flex;
  margin: 0px;
  margin-left: 100px;
  margin-top: 5px;
  border: none;
}

