

.botones{
  margin-top: 40px !important;
  justify-content: center;
  text-align: center;
  
  
  
}
.contador{
  color: #FF4000;
  background-color: #434354;
  font-size: 40px;
  display: flex;
  justify-content:center ;
  align-items: center;
  border: solid 5px #BEBEC1;
  border-radius: 10px;
  width: 300px;
  justify-content: space-around;
}

.count{
  color: #FF4000;
  background-color: #434354;;
  font-size: 40px;
}
button{
  background-color: #434354;;
  border-style: none;
  color: #FF4000;
}

.carrito{
  color: #FF4000;
  background-color: #434354;;
  font-size: 20px;
  display: flex;
  justify-content:center ;
  align-items: center;
  border: solid 5px #BEBEC1;
  border-radius: 10px;
  width: 200px;
  justify-content: space-around;

}


