

.botones{
  margin-top: 40px !important;
  justify-content: center;
  text-align: center;
  
  
  
  
}
.contador{
  color: #FF4000;
  background-color: #434354;
  font-size: 25px;
  display: flex;
  align-items: center;
  border: solid 3px #BEBEC1;
  border-radius: 10px;
  justify-content: space-around;
}

.count{
  color: #FF4000;
  background-color: #434354;;
  font-size: 25px;
}
button{
  background-color: #434354;;
  border-style: none;
  color: #FF4000;
  font-size: 15px;
}

.carrito{
  color: #FF4000;
  background-color: #434354;;
  font-size: 25px !important;
  display: flex;
  justify-content:center ;
  align-items: center;
  border: solid 3px #BEBEC1;
  border-radius: 10px;
  justify-content: space-around;

}

.onAdd{
  font-size: initial
}


